<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.teachcourse"
    android:versionCode="1"
    android:versionName="1.2">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 添加录制视频权限 -->
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />
    <!-- 使用摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 读取手机状态权限，比如：访问WiFi信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 访问WiFi状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 读取通讯录权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 硬件要求： -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- 添加网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 添加写入sdcard权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- 定义FileProvider -->
        <!--<provider-->
            <!--android:name="android.support.v4.content.FileProvider"-->
            <!--android:authorities="${applicationId}.fileProvider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/file_provider" />-->
        <!--</provider>-->

        <!-- 定义Activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 添加service组件 -->
        <service android:name=".service.music.MusicService" />
        <service
            android:name=".service.music.ServiceRecycle"
            android:enabled="true"
            android:exported="true" />

        <!-- 添加activity组件 -->
        <activity
            android:name=".app.RecordAudioActivity"
            android:label="app/RecordAudioActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.AudioMainActivity"
            android:label="app/AudioMainActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".enums.MainActivity"
            android:label="enums/MainActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.VideoMainActivity"
            android:label="app/VideoMainActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".deviceId.MainActivity"
            android:label="deviceId/MainActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".phone.PhoneNameActivity"
            android:label="phone/PhoneNameActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".service.music.MusicPlayerActivity"
            android:label="service/music/MusicPlayerActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.imageview.overlook.OverlookActivity"
            android:label="view/imageview/overlook/OverlookActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.imageview.bitmapregiondecoder.CoordinateActivity"
            android:label="view/imageview/bitmapregiondecoder/CoordinateActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.imageview.bitmapregiondecoder.MainActivity"
            android:label="view/imageview/bitmapregiondecoder/MainActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".handler.RefreshUIActivity"
            android:label="handler/RefreshUIActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".assets.MainActivity"
            android:label="assets/MainActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".json.ResolveJSONActivity"
            android:label="json/ResolveJSONActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".interfaces.MsgBeanActivity"
            android:label="interfaces/MsgBeanActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SwitchListViewActivity"
            android:label="view/SwitchListViewActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="myapp" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.webview.WebViewActivity"
            android:label="view/webview/WebViewActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.recyclerview.RecyclerViewActivity"
            android:label="view/recyclerview/RecyclerViewActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.listview.ListViewActivity"
            android:label="view/listview/ListViewActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.gridview.GridViewActivity"
            android:label="view/gridview/GridViewActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.recyclerview.netease.TabsActivity"
            android:label="view/recyclerview/netease/TabsActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".location.AddressActivity"
            android:label="location/AddressActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabhost.OneTabActivity"
            android:label="tabhost/OneTabActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".support.v4.viewpager.TabIndicatorActivity"
            android:label="view/viewpager/TabIndicatorActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".packages.PackageInfoActivity"
            android:label="packages/PackageInfoActivity"
            android:logo="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".urlconnection.URLConneActivity"
            android:label="urlconnection/URLConneActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".graphics.PicTranslation"
            android:label="graphics/PicTranslation">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".support.v4.viewpager.WelcomeGuideActivity"
            android:label="view/viewpager/WelcomeGuideActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".framework.imageloader.CacheBitmapActivity"
            android:label="imageloader/CacheBitmapActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.webview.H5WebViewActivity"
            android:label="view/webview/H5WebViewActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.webview.JSWebViewActivity"
            android:label="view/webview/JSWebViewActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.webview.ZXingJSWebViewActivity"
            android:label="view/webview/ZXingJSWebViewActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".scancode.CaptureActivity"
            android:label="zxing/CaptureActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".service.music.ServiceRecycleActivity"
            android:label="service/music/ServiceRecycleActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pullable.PullableScrollViewActivity"
            android:label="pullable/PullableScrollViewActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.RadioButtonActivity"
            android:label="view/RadioButtonActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MyTextViewActivity"
            android:label="view/MyTextViewActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.progress.ProgressActivity"
            android:label="view/progress/ProgressActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainListActivity" />
        <activity
            android:name=".view.layoutparams.LinearLayoutParamsActivity"
            android:label="view/layoutparams/LinearLayoutParamsActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.EventDispatchActivity"
            android:label="view/EventDispatchActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.triangle.TriangleMathActivity"
            android:label="view/triangle/TriangleMathActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".support.v4.viewpager.ActionBarTabsPager"
            android:label="view/viewpager/ActionBarTabsPager"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.DisplayActionBarActivity"
            android:label="view/DisplayActionBarActivity"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MathUtilActivity"
            android:label="view/MathUtilActivity"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.dialog.TestDialogActivity"
            android:label="view/dialog/TestDialogActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.dialog.ActivityDialog"
            android:label="view/dialog/ActivityDialog"
            android:theme="@style/Theme.CustomDialog">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.dialog.ActionBarDialog"
            android:label="view/dialog/ActionBarDialog"
            android:theme="@style/Theme.V7.CustomDialog">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.dialog.AppCompatActivityDialog"
            android:label="view/dialog/AppCompatActivityDialog"
            android:theme="@style/Theme.V7.CustomDialog">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.dialog.FragmentActivityDialog"
            android:label="view/dialog/FragmentActivityDialog"
            android:theme="@style/Theme.CustomDialog">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.dialog.ListActivityDialog"
            android:label="view/dialog/ListActivityDialog"
            android:theme="@style/Theme.CustomDialog">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rect.RectSimpleSummaryActivity"
            android:label="rect/RectSimpleSummaryActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".socket.WriteDataActivity"
            android:label="socket/WriteDataActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".permission.RecordVideoActivity" />
        <activity
            android:name=".sharedpreferences.SharedPreferencesActivity"
            android:label="sharedpreferences/SharedPreferencesActivity">
            >
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".algorithm.BrokenKeyDerivationActivity"
            android:label="algorithm/BrokenKeyDerivationActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nougat.WriteToReadActivity"
            android:label="nougat/WriteToReadActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.webview.UploadImgForH5Activity"
            android:label="view/webview/UploadImgForH5Activity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".runtime.RuntimeOrderActivity"
            android:label="runtime/RuntimeOrderActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".download.DownloadManagerActivity"
            android:label="download/DownloadManagerActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabhost.TabLayoutActivity"
            android:label="tabhost/TabLayoutActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".packages.ApplicationIdAndPackageActivity"
            android:label="packages/ApplicationIdAndPackageActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.WatchViewActivity"
            android:label="view/WatchViewActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".view.recyclerview.AdapterDelegateActivity" />
        <activity
            android:name=".ipc.BundleActivity"
            android:label="ipc/BundleActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ipc.IPCFileActivity"
            android:label="ipc/IPCFileActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.PorterDuffXferActivity"
            android:label="view/PorterDuffXferActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.ChangeTextAnimation"
            android:label="animation/ChangeTextAnimation">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.Bean2JsonActivity"
            android:label="app/Bean2JsonActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".designpattern.factory.ThreadPoolActivity"
            android:label="designpattern/factory/ThreadPoolActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".enums.season.SeasonInfoActivity"
            android:label="enums/season/SeasonInfoActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".location.LocationActivity"
            android:label="location/LocationActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.TranslateInAnimation"
            android:label="animation/TranslateInAnimation">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.animation.TranslateInAnim"
            android:label="view/animation/TranslateInAnim">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.PreviewPicture"
            android:label="view/PreviewPicture">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.ActivityTransition"
            android:label="app/ActivityTransition">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.ActivityTransitionDetails"
            android:label="app/ActivityTransitionDetails">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.UpVersionActivity"
            android:label="app/UpVersionActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.FlingRemovedActivity"
            android:label="app/FlingRemovedActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.FlingRemovedToLeftActivity"
            android:label="app/FlingRemovedToLeftActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.FlingImageViewActivity"
            android:label="app/FlingImageViewActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.ReflectUsingActivity"
            android:label="app/ReflectUsingActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.ChangeScreenStateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="app/ChangeScreenStateActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.LifecycleHomePressedActivity"
            android:label="app/LifecycleHomePressedActivity"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.TimeInterpolatorActivity"
            android:label="animation/TimeInterpolatorActivity">

            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.TypeEvaluatorActivity"
            android:label="animation/TypeEvaluatorActivity">
            <intent-filter>
                <action android:name="cn.teachcourse.action.MAIN" />

                <category android:name="cn.teachcourse.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>

</manifest>